.appear {
    transform: translateY(5rem);
    opacity: 0;
    &-visible {
        transform: translateY(0);
        opacity: 1;
        transition: all ease-in-out 1s;
    }
    &-right {
        transform: translateX(5rem);
        opacity: 0;
    }
    &-right-visible {
        transform: translateX(0);
        opacity: 1;
        transition: all ease-in-out 1s;
    }
    &-left {
        transform: translateX(-5rem);
        opacity: 0;
    }
    &-left-visible {
        transform: translateX(0);
        opacity: 1;
        transition: all ease-in-out 1s;
    }
}