h1 {
    font-size: clamp(2.5rem, 7vw, 5rem);
}

h2 {
    font-size: clamp(1.7rem, 5.4vw, 4.5rem);
}

h3 {
    font-size: clamp(1.4rem, 3.3vw, 3.5rem);
}

@for $lv from 1 through 6 {
    h#{$lv} {
        font-family: 'Montserrat';
    }
}

span,
a,
p {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-family: 'Montserrat';
}