@import '../utils/vars';
@import '../utils/mixins';
//Navigations
.nav-main {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    padding: 3vmin;
    padding-top: calc(1rem * 0.75);
    background-color: $color-base;
    a {
        color: $color-actif1;
    }
}

@include media-query-tablet {
    .nav-main {
        justify-content: flex-start;
    }
}

//grid
.grid-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: map-get($map: $break-points, $key: x-latop);
    margin: auto;
    .product {
        flex: 1 1 50%;
        min-width: 200px;
        max-width: 350px;
        img {
            width: 100%;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &__item {
        display: flex;
        gap: 1rem;
        align-items: center;
        i {
            color: $color-actif3;
        }
    }
}

.wrapper-form {
    margin-top: 2rem;
    margin-bottom: .5rem;
    max-width: 250px;
    margin: auto;
}

.group-form {
    position: relative;
    display: flex;
    margin-top: 1.7rem;
    input,
    textarea,
    select {
        padding: .5rem 1rem;
        width: 100%;
        border: none;
        border-radius: 10px;
        background-color: lighten($color: $color-sub-txt, $amount: 45);
        position: relative;
    }
    input+i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    textarea+i {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    &--border-gradient {
        &::before {
            content: "";
            display: block;
            position: absolute;
            left: -2px;
            top: -2px;
            right: -2px;
            bottom: -2px;
            border-radius: 15px;
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.94) 77.08%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FFBF72, #FFBF72);
        }
    }
}